@import url('../../MainCss/MainVariables.css');
.root {
	position: relative;
	top: 0;
	left: 70%;
	width: 300px;
	z-index: 30;
	background-color: rgb(280, 280, 280);
}

.headerroot {
	padding-left: 20px;
}
.productroot {
	padding: 20px;
}
.img {
	width: 70px;
	height: auto;
}
.firstname {
	font-weight: bold;
	font-size: var(--SMALL-FONT);
}
.restofname {
	position: relative;
	bottom: 10px;
	font-size: var(--SMALL-FONT);
	font-weight: bold;
}
.mybag {
	font-weight: bold;
	margin-right: 10px;
}

.priceroot {
	font-weight: bolder;
	position: relative;
	bottom: 15px;
}
.attritem {
	position: relative;
	width: 24px;
	height: 24px;
	color: var(--BLACK);
	font-weight: bold;
	border: solid black 1px;
	font-size: 7px;
	margin-right: 10px;
	cursor: pointer;
}
.attrsroot{

}
.attrroot {
	margin: 5px;
}
.attrname {
	font-weight: bold;
	font-size: 12px;
}

.selected {
	background-color: black;
	color: aliceblue;
}

.colorselected {
	border: solid black 3px;
}

.controlbutton {
	width: 25px;
	height: 25px;
	color: black;
	background-color: var(--WHITE);
	border: solid 1px var(--BLACK);
	margin-right: 10px;
	font-size: large;
	font-weight: bold;
	cursor: pointer;
}

.controlbutton:hover {
	background-color: rgba(200, 200, 200, 0.8);
}

.qtyitem {
	text-align: center;
	font-size: large;
	font-weight: bold;
}

.total {
	font-weight: bold;
}

.totalprice {
	font-weight: bold;
}

.maincontrol {
	margin-bottom: 20px;
}
.viewbag {
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px var(--BLACK) solid;
	font-weight: bold;
	background-color: var(--WHITE);
	padding: 10px;
	cursor: pointer;
}
.checkout {
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	background-color: var(--GREEN);
	padding: 10px;
	cursor: pointer;
	color: var(--WHITE);
}
.brand{
	font-size: 12px;
	font-weight: bold;
}

@media (max-width: 1000px) {
	.root {
		left: 50%;
		transform: translate(-50%, 0%);
	}
}
