
.container{
	display: flex;
}
.inline{
	display : inline;
}
.block{
	display : block;
}
.inline_block{
	display : inline-block
}
.hide{
	display : none;
}
.column{
	flex-direction: column;
}

.justify_start{
	justify-content: start;
	
}
.items_start{
	align-items : start;
}
.end{
	justify-content: end;
}
.center{
	justify-content: center;
	align-items: center;
	text-align: center;
}

.space_evenly{
	justify-content: space-evenly;
}
.space_between{
	justify-content: space-between;
}
.space_around{
	justify-content: space-around;
}


.row{
	flex-direction: row;
}

.col_1{
	width: 8.33%;
}
.col_2{
	width:16.66%;
}
.col_3{
	width:25% ;
}
.col_4{
	width:33.33% ;
}
.col_5{
	width:41.66% ;
}
.col_6{
	width:50% ;
}
.col_7{
	width: 58.33%;
}
.col_8{
	width: 66.6%;
}
.col_9{
	width:75% ;
}
.col_10{
	width: 83.33%;
}
.col_11{
	width: 91.66%;
}
.col_12{
	width: 100%;
}
.row_1{
	height: 8.33%;
}
.row_2{
	height:16.66%;
}
.row_3{
	height:25% ;
}
.row_4{
	height:33.33% ;
}
.row_5{
	height:41.66% ;
}
.row_6{
	height:50% ;
}
.row_7{
	height: 58.33%;
}
.row_8{
	height: 66.6%;
}
.row_9{
	height:75% ;
}
.row_10{
	height: 83.33%;
}
.row_11{
	height: 91.66%;
}
.row_12{
	height: 100%;
}
.ml_1{
	margin-left: 10px;
}
.ml_2{
	margin-left: 20px;
}
.ml_3{
	margin-left: 30px;
}
.ml_4{
	margin-left: 40px;
}
.mw_1{
	max-width : 2rem;
}
.mw_2{
	max-width : 4rem;
}
.mw_3{
	max-width : 6rem;
}
.mw_4{
	max-width : 8rem;
}
.mw_5{
	max-width : 12rem;
}
.mw_6{
	max-width : 16rem;
}
.mw_7{
	max-width : 18rem;
}
.mw_8{
	max-width : 20rem;
}
.mw_9{
	max-width : 25rem;
}
.mw_10{
	max-width : 30rem;
}


.mh_1{
	max-height : 2rem;
}
.mh_2{
	max-height : 4rem;
}
.mh_3{
	max-height : 6rem;
}
.mh_4{
	max-height : 8rem;
}
.mh_5{
	max-height : 12rem;
}
.mh_6{
	max-height : 16rem;
}
.mh_7{
	max-height : 18rem;
}
.mh_8{
	max-height : 20rem;
}
.mh_9{
	max-height : 25rem;
}
.mh_10{
	max-height : 30rem;
}

.overflow_hidden{
	overflow : hidden;
}
.overflow_auto{
	overflow : auto;
	 scroll-behavior: smooth;
}
.overflow_scroll{
	overflow : scroll;
	 scroll-behavior: smooth;
}
.overflow_visible{
	overflow : visible;
}
